button{
    padding: 5px;
    background-color: orange;
    color:white
    border-radius: 40px;
    border: none;
    } 

body{
     font-family: "Madimi One", sans-serif;
    }
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap:2rem;
}
.card{
    flex: 1;
    max-width: 500px;
    background-color: #eadede;
    border-radius: 5px;
    text-align:center;
}
.title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10 px;
}
.price{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10 px;
}
.features{
    list-style: none;
    padding: 0;
    margin:0;
}
@media(max-width:1200px) {
    .container{
        flex-direction: column;
        height: 100%;
    }
    
}